In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

#### Load the dataset

In [8]:
df = pd.read_csv("C:/Infosys Internship/Datasets/Finalized Dataset/diabetes_prediction_dataset.csv")

#### Displaying basic info

In [9]:
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

None

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

##### Handling the missing values

In [10]:
df = df.dropna()

##### Encoding the categorical variables

In [11]:
ohe = OneHotEncoder(sparse_output=False, drop='first')
categorical_cols = ['gender', 'smoking_history']
encoded_df = pd.DataFrame(ohe.fit_transform(df[categorical_cols]), columns=ohe.get_feature_names_out())

##### Concatenating the encoded columns & also dropping original categorical columns

In [12]:
df = pd.concat([df, encoded_df], axis=1).drop(columns=categorical_cols)

##### Defining the columns for scaling

In [13]:
standard_scaler_cols = ['blood_glucose_level']
minmax_scaler_cols = ['bmi', 'age']

##### Applying StandardScaler to 'blood glucose level'

In [14]:
standard_scaler = StandardScaler()
df[standard_scaler_cols] = standard_scaler.fit_transform(df[standard_scaler_cols])

##### Applying MinMaxScaler to 'BMI' & 'Age'

In [15]:
minmax_scaler = MinMaxScaler()
df[minmax_scaler_cols] = minmax_scaler.fit_transform(df[minmax_scaler_cols])

#### Displaying the preprocessed dataset:

In [16]:
display(df.head())

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1.000000,0,1,0.177171,6.6,0.047704,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.674675,0,0,0.202031,6.6,-1.426210,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.349349,0,0,0.202031,5.7,0.489878,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.449449,0,0,0.156863,5.0,0.416183,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.949950,1,1,0.118231,4.8,0.416183,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0